<div class="header">
    <div class="container">
        <div class="containe-fluid">
    <div class="header__info">
        <p>WE ARE GOING THROUGH UNCERTAIN TIMES, SO PLEASE STAY SAFE AND FOLLOW COVID PROTOCOLS</p>
    </div>
    <div class="header__logo">
        <img class="logo" src="assets/img/logo1.png" alt=""/>
    </div>
    
    
    <div class="row">
        <div class="col-md-8 col-lg-6 col-sm-8">
            <div class="header__search">
              <input class="searchinput" type="text" placeholder="What are you looking for?" />
              
                <span class="searchicon" nz-icon nzType="search" nzTheme="outline"></span>
              
            </div>
        </div>
        <div class="col-md-7 col-lg-6 col-sm-8">
            <div class="header__login">
              <ul>
                <li><a href="#">Sign In</a></li>
                <li nz-icon nzType="shopping-cart" nzTheme="outline"></li>
                <li nz-icon [nzType]="'heart'" [nzTheme]="'outline'"></li>
              </ul>
            </div>
        </div>
     </div>
    
</div>
<div class="header__menu">
    <div class="nav-item menulist">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a routerLink="discover">Discover</a></li>
            <li class="nav-item active"><a href="#about">Freshly Brewed</a></li>
            <li class="nav-item active"><a href="#promotion">Reviews</a></li>
            <li class="nav-item active"><a href="#menu">Partner With US</a></li>
        </ul>
    </div>
  </div>
</div>
</div>
<br/>
<br/>
<app-navbar></app-navbar>

