<div class="footer-area">
    <div class="footer-area-bg"></div>
        <div class="container">
            <div class="row">               
                <div class="footer-menu1">
                    <h3>Customer Care</h3>
                        <ul>
                            <li><a class="nav-link" href="#">Return Policy</a></li>                  
                            <li><a class="nav-link" href="#">Privicy Policy</a></li>
                            <li><a class="nav-link" href="#">Terms & Conditions</a></li>
                            <li><a class="nav-link" href="#">Contact</a></li>
                        </ul>                        
                    </div>              
               
                    <div class="footer-menu1">
                        <h3>Company</h3>
                        <ul>
                            <li><a class="nav-link" href="#">About Us</a></li>                  
                            <li><a class="nav-link" href="#">Parner With Us</a></li>
                            <li><a class="nav-link" href="#">Find My Size</a></li>
                        </ul>                        
                    </div>               
                
                    <div class="footer-menu3">
                        <h3>Contact us</h3>
                        <ul>
                            <li>Lil'Brats</li>                  
                            <li>(+91 9566660266)</li>
                            <li>support@librats.in</li>
                            <li>Mon-Sun: 11AM&ndash;8PM IST</li>
                            <br/>
                            <br/>
                            <li>Shop offline at:</li>
                            <li>Couture for Lil'Brats</li>
                            <li>52A, Gangadeeshwar Koil St,</li>
                            <li>Purasaiwakkam, Chennai</li>
                            <li>Tamil Nadu 600084</li>
                        </ul>                        
                    </div>               
                
                    <div class="footer-menu1">
                        <ul>
                            <li> <a class="nav-link" href="#">100% Premium Quality <br/>
                                for all Products at Lil'Brats
                                </a></li>                  
                            <li><a class="nav-link" href="#">Return within 15 days <br/>
                                of receiving your order
                                </a></li>
                            <li><a class="nav-link" href="#">Get free Delivery <br/>
                                for every order above Rs. 2000</a></li>
                            
                        </ul>
                        
                    </div>              
                </div>
                
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-address">
                        <p>&copy; 2021 LIL'BRATS. All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-address footer-copyright footer-right">
                        <p>Made with  by Inception Labs</p>
                    </div>
                </div>
            </div>
        </div>
</div>
