.nav__banner {
    
    padding-top: 40px;
    margin-bottom: 20px;
}
.nav__prvious ul li {
    font-size: 40px;
    color:  #3150A2;
    font-weight: 400;

}
.nav__next ul li {
    font-size: 40px;
    color:  #3150A2;
    font-weight: 400;

}