<div class="nav__banner">
<div class="container">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/Lil Brats Banner-01.png" class="d-block w-100" alt="...">
              
      </div>
      <div class="carousel-item">
        <img src="assets/img/Lil Brats Banner-02.png" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/img/Lil Brats Banner-03.png" class="d-block w-100" alt="...">
        
      </div>
    </div>
    <a class="carousel-control-prev nav__prvious" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <ul><a href="#"><li nz-icon nzType="left-circle" nzTheme="outline"></li></a>                    
      </ul> 
    </a>
    <a class="carousel-control-next nav__next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
      </ul> 
    </a>
  </div>
</div>
</div>
<br/>
