.season {
    margin-top: 20px;
    border-top: 1px solid #3150A2;
  }
.season h3 {
    font-size: 30px;
    text-align: center;
    color: #3150A2;
    padding: 20px;
}
  .card {
    border: none;
    padding: 10px;
    text-align: center;
    width: 1000%;
    margin-right: 10px;
    margin-left: 10px;
    
  }
  .card img {
    width: 455px;
    max-width: 100%;
    border-radius: 100%;
 }
 
 .card h3 {
     font-size: 25px;
     color: #3150A2;
     align-items: center;
 }
.card a {
    border-bottom: 1px solid #3150A2;
    font-size: 12px;
    color: #3150A2;
    text-transform: uppercase;
}
.season h4 {
    font-size: 30px;
    text-align: center;
    color: #3150A2;
    padding: 20px;
}
.card1 {
    border: none;
    padding: 10px;
    text-align: center;
    margin-right: 50px;
    margin-left: 40px;
    
  }
.card1 img {
    width: 100%;
    max-width: 100%;
    border-radius: none;
 }
 
 .card1 p {
     font-size: 16px;
     color: #3150A2;
     align-items: center;
 }
.card1 a {
    
    font-size: 12px;
    color: #3150A2;
    text-transform: uppercase;
}
 
 