<div class="season">
    <div class="container">
        <h3>Season Edits</h3>
      <div class="row">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG0849652371.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>Suits</h3>
            <a href="#">Shop now</a>                    
          </div>
        </div>
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG00051818922.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>Rompers</h3>
            <a href="#">Shop now</a>
        </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="assets/img/IMG0798880179.jpg" alt="Card image cap">
            <div class="card-body">
              <h3>Waist Coat</h3>
              <a href="#">Shop now</a>                    
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="assets/img/IMG00583732284.jpg" alt="Card image cap">
            <div class="card-body">
              <h3>Full Set</h3>
              <a href="#">Shop now</a>
          </div>
          </div>
      </div>
      <div class="row">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG0057822881.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>T.shirts</h3>
            <a href="#">Shop now</a>                    
          </div>
        </div>
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG09536173100.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>Pullovers</h3>
            <a href="#">Shop now</a>
        </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="assets/img/IMG01237261092.jpg" alt="Card image cap">
            <div class="card-body">
              <h3>Full Sleeves</h3>
              <a href="#">Shop now</a>                    
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="assets/img/IMG0947771788.jpg" alt="Card image cap">
            <div class="card-body">
              <h3>High Neck</h3>
              <a href="#">Shop now</a>
          </div>
          </div>
      </div>

      <h4>Couture By Lil'brats</h4>
      <div class="row">
        <div class="card1" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG07432.jpg" alt="Card image cap">
          <div class="card-body">
            <p>Bold Three Piece Suit</p>
            <a href="#">₹ 4490</a>                    
          </div>
        </div>
        <div class="card1" style="width: 16rem;">
          <img class="card-img-top" src="assets/img/IMG05360.jpg" alt="Card image cap">
          <div class="card-body">
            <p>Checked Three Piece Suit</p>
            <a href="#">₹ 3990</a> 
        </div>
        </div>
        <div class="card1" style="width: 16rem;">
            <img class="card-img-top" src="assets/img/IMG07429.jpg" alt="Card image cap">
            <div class="card-body">
                <p>Three Piece Suit In Pink</p>
                <a href="#">₹ 4570</a>                     
            </div>
          </div>          
      </div>



    </div>
  </div>