.main {
  border-top: 1px solid #3150a2;
    text-align: center;
    margin: 20px;
}
.main h2 {
  font-size: 30px;
  text-align: center;
  color: #3150A2;
  padding: 20px;
}
.card {
    border: none;
    padding: 10px;
    text-align: center;
}
.card-body {
  text-align: center;
  }
.card-body ul {
  text-align: center;
  padding: 20px 0px;
}
.card-body ul li {
  font-size: 30px;
  color: #3150a2;
  text-align: center;
}
.card p {
    font-size: 12px;
    text-align: center;
    color:  #3150A2;
    display: flex;
    padding: 10px;
    
}
.card-text {
  text-align: center;
}
.face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  