<div class="main">
    <div class="container">
      <h2>Shop By Age</h2>
        <div class="row">
            <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/0-6.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">0-6 M</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                  
                </div>
              </div>
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/6-12.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">6-12 M</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>
              </div>
              
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/1-2.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">1-2 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>
              </div>
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/2-4.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">2-4 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>                
              </div>
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/4-6.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">4-6 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>
              </div>
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/6-8.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">6-8 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>
              </div>
              
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/8-10.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">8-10 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul>                   
                </div>
              </div>
              <div class="card" style="width: 8rem;">
                <img class="face card-img-top" src="assets/img/10-14.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">10-14 Y</p>
                  <ul><a href="#"><li nz-icon nzType="right-circle" nzTheme="outline"></li></a>                    
                  </ul> 
                                    
                </div>
              </div>

        </div>

    </div>

</div>
