<div class="collection">
    <div class="container">
      <div class="row">
        <div class="card" style="width: 28rem;">
          <img class="card-img-top" src="assets/img/IMG0849652371.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Festive</p>
            <h3>Season Collection</h3>
            <a href="#">Shop now</a>                    
          </div>
        </div>
        <div class="card1" style="width: 28rem;">
          <img class="card-img-top" src="assets/img/IMG00583732284.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">High Street</p>
            <h3>Collection</h3>
            <a href="#">Shop now</a>                   
                             
          </div>
        </div>
      </div>
    </div>
  </div>