<div class="discover">
    <div class="container">
    <div class="row">
        <div class="discover__part">
            <h3>Casual Wear</h3>
            <ul>
                <li>Fullset</li>
                <li>Jacket</li>
                <li>T Shirt</li>
                <li>High Nexk Tshirt</li>
                <li>Pullovers</li>
                <li>Shorts</li>
            </ul>
        </div>
        <div class="discover__part">
            <h3>Semi Casual</h3>
            <ul>
                <li>Fullset</li>
                <li>Jacket</li>
                <li>T Shirt</li>
                <li>High Nexk Tshirt</li>
                <li>Pullovers</li>
                <li>Shorts</li>
            </ul>
        </div>
        <div class="discover__part">
            <h3>Party Wear</h3>
            <ul>
                <li>Fullset</li>
                <li>Jacket</li>
                <li>T Shirt</li>
                <li>High Nexk Tshirt</li>
                <li>Pullovers</li>
                <li>Shorts</li>
            </ul>
        </div>
        <div class="discover__part">
            <h3>Ethinic Wear</h3>
            <ul>
                <li>Fullset</li>
                <li>Jacket</li>
                <li>T Shirt</li>
                <li>High Nexk Tshirt</li>
                <li>Pullovers</li>
                <li>Shorts</li>
            </ul>
        </div>
    </div>
</div>

</div>
